body {
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: linear-gradient(lightseagreen, darkslateblue);
	background-color: darkslateblue;
}

nav {
	font-family: monospace;
}

.navbar {
	padding:15px
}

.nav-item {
	margin-left: 10px;
}

header {
	text-align: center;
	margin-top: 120px;
	color: floralwhite;
	font-family: monospace;
}

#content {
	margin: 50px 15px 20px 15px;
	align-content: center;
}

#logo {
	width: 70px;
	height:70px;
}

footer {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	color: floralwhite;
	font-family: monospace;
	background-color: slateblue;
}
